<div class ="circles">
<table>
<h3>Events for circle <i><%= @circle.name %></i>.</h3>
<thead>
<tr><th>Name</th><th>Start time</th><th>End time</th><th>Description</th><th>Delete</th>
</thead>
<% @events.each do |event| %>
  <tr>
    <td ><%=event.name %></td>
    <td ><%=event.start_at %></td>
        <td ><%=event.end_at %></td>
            <td ><%=event.description %></td>
      <td>      
        <button class="button button-gray">
            <%= link_to "Delete", event_path(event), :remote => true,  :method => 'delete'%>
          </button>
  </tr>
  <tr>
    <td>Attending:</td>
    <td colspan = "4">
    <% event.circle.users.each do |user | %>
    <%= user.name %>

    <% end %>
        </td>
  </tr>
<% end %>
</table>
</div>

