<div class ="circles">
  <h1>Your Circles</h1>


  <% @circles.each do |circle| %>
    <h2><%= link_to circle.name, circle_events_path(circle) %></h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <% circle.users.each do |member| %>
      <tbody>
        <tr>
          <td><%= member.name != "" && member.name != nil ? member.name : "-"%></td>
          <td><%= member.email%></td>
          <td><%= member.phone != "" && member.phone != nil ? member.phone : "-"%></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <% @users = @all_users - circle.users %>
    <% if @users.count > 0 %>
    <div class = "new_members">
      <h3 class = "button-orange button">Add new members.</h3>
      <div class="add_members">
        <%=form_for(circle,:method => :put) do |f|%>
        <% @users.each do |member| %>
        <ul>
          <li><%= check_box_tag 'circle[user_ids][]', member.id %> <%=member.name != "" ? member.name : member.email%></li>
        </ul>
        <% end %>
        <%=f.submit%>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>

</div>

