      <section>
            <div class="container_8 clearfix">

                <!-- Sidebar -->

                <aside class="grid_1">

                    <nav class="global">
                        <ul class="clearfix">
                            <li><a class="nav-icon icon-house" href="<%= root_path %>">Home</a></li>
                            <li><a class="nav-icon icon-time" href="#">Latest Activity</a></li>
                            <li><a class="nav-icon icon-book" href="<%=circles_path%>"><span ><%= current_user.circles.count%></span>Circles</a></li>
                            <li class="active"><a class="nav-icon icon-tick" href="#"><span id = "event_number"><%= current_user.events.count %></span>Events</a></li>
                            <li><a class="nav-icon icon-note" href="#">Notes</a></li>
                        </ul>
                    </nav>

                    <nav class="subnav recent">
                        <% last_users = User.find(:all, :order => "id DESC", :limit => "5")%>
                        <h4>Recent Users</h4>
                        <ul class="clearfix">
                          <% last_users.each do |user|%>
                            <li>
                                <a class="contact" href="#"><h5><%= user.name%></h5><h6><%= user.email%></h6></a>
                                <div class="tooltip left">
                                    <span class="avatar">
                                    </span>
                                    <h5><%= user.name%></h5>
                                    <h6><%= user.email%></h6>
                                    <address><%= user.phone%></address>
                                </div>
                            </li>
                            <% end %>
                        </ul>
                    </nav>

                    <nav class="subnav">
                        <h4>Help</h4>
                        <ul class="clearfix">
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Screen Casts</a></li>
                            <li><a href="#">Docs</a></li>
                            <li><a href="#">Contact Form</a></li>
                        </ul>
                    </nav>

                </aside>

                <!-- Sidebar End -->

